<div class="productivity">
    <div class="up-board">
        <div class="chart-title">
            <span class="title">
            </span>
            <span class="sub-title">
            </span>
        </div>
        <div class="charts">
            <div class="chart">
                <% @line_chart = @panel_view.line_charts_weeks(0) %>
                <canvas id="commits_chart" data-type='line' data-title="<%=@line_chart.title%>" data-labels='<%=@line_chart.labels%>' data-values='<%=@line_chart.dataset.to_json%>'></canvas>
            </div>
            <div class="chart">
                <% @bar_chart = @panel_view.bar_chart_weeks %>
                <canvas id="main" data-type='bar' data-title="<%=@bar_chart.title%>" data-labels='<%=@bar_chart.labels%>' data-values='<%=@bar_chart.dataset.to_json%>'></canvas>
            </div>
        </div>
    </div>
    <div class="down-board">
        <div class="chart-container">
            <div class="informations">
            </div>
            <div class="chart">
                <% @contributors_chart = @panel_view.contributors_chart(0) %>
                <canvas id="test2" data-type='bar' data-title="<%=@contributors_chart.title%>" data-labels='<%=@contributors_chart.labels%>' data-values='<%=@contributors_chart.dataset.to_json%>'></canvas>
            </div>
        </div>
        <div class="contributor-table table-responsive-sm">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <% @panel_view.table.thead.each do |th| %>
                        <th><%= th %></th>
                        <% end %>
                    </tr>
                </thead>
                <tbody>
                    <% @panel_view.table.tbody.each do |tr| %>
                    <tr>
                        <% tr.each do |td| %>
                        <td><%= td %></td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>