<div class="files page" id="files">
    <div class="title-bar">
        <div class="title">
            Files
        </div>
        <div class="file_path">
            <%= "#{@panel_view.name} #{@panel_view.state}" %>
        </div>
    </div>
    <div class="panel">
        <div class="left ">
            <div class="top ">
                <div class="a-board board">
                    <div class="titles">
                        <div class="title">
                            <%= @panel_view.a_board.title %>
                            <%= @panel_view.a_board.subtitle('test', 'test') %>
                        </div>
                    </div>
                    <div class="elements">
                        <% @panel_view.a_board.elements.each do |element| %>
                        <div class="element my-custom-scrollbar">
                        <%= element.to_element %>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="bottom ">
                <div class="top">
                    <div class="b-board board">
                        <div class="titles ">
                            <div class="title">
                                <%= @panel_view.b_board.title %>
                                <%= @panel_view.b_board.subtitle('test', 'test') %>
                            </div>
                        </div>
                        <div class="elements ">
                        <% @panel_view.b_board.elements.each do |element| %>
                            <div class="element">
                            <%= element.to_element %>
                            </div>
                        <% end %>
                        </div>
                    </div>
                </div>
                <div class="bottom ">
                    <div class="c-board board">
                        <div class="titles ">
                            <div class="title">
                                <%= @panel_view.c_board.title %>
                                <%= @panel_view.c_board.subtitle('test', 'test') %>
                            </div>
                        </div>
                        <div class="tools">
                                                <div class="double-slider" data-days="<%=@panel_view.days_count%>" data-first="<%=@panel_view.first_date%>" data-last="<%=@panel_view.last_date%>">
                        <div class="label">
                           <span class="title"> Date: </span> <span id="start"></span> ~ <span id="end"></span>
                        </div>
                        <div id="slider-range">
                        </div>
                    </div>
                    <div class="selector">
                        <div class="label title">Time Unit: </div>
                        <select class="custom-select custom-select-lg mb-3" id="unit_selector">
                        <option value="day">Day</option>
                        <option value="week">Week</option>
                        <option value="month">Month</option>
                        </select>
                    </div>
                        </div>
                        <div class="elements ">
                            <% @panel_view.c_board.elements.each do |element| %>
                            <div class="element">
                            <%= element.to_element %>
                            </div>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right ">
            <div class="d-board board">
                <div class="titles "></div>
                <div class="elements  folders">
                    <div class="element folders">
                        <ul class="folder-tree">
                            <%= @panel_view.folder_tree.to_element %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
