<div class="functionality page" id='functionality'>
    <div class="title-bar">
        <div class="title">
            Functionality
        </div>
    </div>
    <div class="panel">
        <div class="top ">
            <div class="left  ">
                <div class="a-board board ">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.a_board.title %>
                            <%= @panel_view.a_board.subtitle('This chart list all special keywords.
                            <br>You can click the bar of a keyword to see the detail of this keyword') %>
                        </div>
                    </div>
                    <div class="elements ">
                        <% @panel_view.a_board.elements.each do |element| %>
                            <div class="element">
                            <%= element.to_element %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="right ">
                <div class="b-board board">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.b_board.title %>
                            <%= @panel_view.b_board.subtitle('') %>
                        </div>
                    </div>
                    <div class="elements ">
                         <% @panel_view.b_board.elements.each do |element| %>
                            <div class="element">
                            <%= element.to_element %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom ">
            <div class="c-board board">
                <div class="titles ">
                    <div class="title">
                        <%= @panel_view.c_board.title %>
                        <%= @panel_view.c_board.subtitle('') %>
                    </div>
                </div>
                <div class="elements ">
                    <% @panel_view.c_board.elements.each do |element| %>
                            <div class="element my-custom-scrollbar">
                            <%= element.to_element %>
                            </div>
                        <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
