<div class="overview page" id='overview'>
    <div class="row">
        <div class="title-bar">
            <div class="col-md-8">
                <div class="title">
                    Overview
                </div>
            </div>

            <div class="col-md-4"> 
                Updated at <%= @panel_view.updated_at %>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="up">
            <div class="left ">
                <div class="a-board board">
                    <div class="titles">
                        <div class="title">
                            <%= @panel_view.a_board.title %>
                            <%= @panel_view.a_board.subtitle('This board show the all quality problems in your project.<br>'\
                 '1. Complex Method: The method whose flog score higher than 15.<br>'\
                 '2. Code Style Offenses: Not correct coding format found by rubocop.<br>'\
                 '3. Unannotated Class: The class without any comment to describe its function.<br>'\
                 '4. Low TestCoverage File: The file whose test coverage lower than 70.<br>'\
                 '<b>To see more, please click quality icon in your left hand side.</b>') %>
                        </div>
                    </div>
                    <div class="informations">
                        <% @panel_view.a_board.elements[:critical_info].each do |info| %>
                        <div class="info">
                            <span class='critical'> <%= info[:number] %> </span> <%= info[:unit] %>
                        </div>
                        <% end %>
                    </div>
                    <div class="elements">
                        <% @panel_view.a_board.elements[:elements].each do |element| %>
                            <%= element.to_element %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="mid ">
                <div class="b-board board">
                    <div class="titles">
                        <div class="title">
                            <%= @panel_view.b_board.title %>
                            <%= @panel_view.b_board.subtitle('This board show all functionality keywords and its amount.<br>'\
                            'The test case can be used to explain your application function,<br>keywords can help you find out special functions in your application. <br><b>To see more, please click functionality icon in your left hand side.</b>') %>
                        </div>
                    </div>
                    <div class="elements my-custom-scrollbar">
                        <% @panel_view.b_board.elements.each do |element| %>
                            <%= element.to_element %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="right ">
                <div class="c-board board">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.c_board.title %>
                            <%= @panel_view.c_board.subtitle('This board show the project breakdown information and the percentage of individual contribution.<br>'\
                            'You can understand who is the main developer for your project by observing the code ownership. <br> <b>To see more, please click ownership icon in your left hand side.</b>') %>
                        </div>
                    </div>
                    <div class="informations ">
                        <% @panel_view.c_board.elements[:critical_info].each do |info| %>
                        <div class="info">
                            <span class='critical'> <%= info[:number] %> </span> <%= info[:unit] %>
                        </div>
                        <% end %>
                    </div>
                    <div class="elements ">
                        <% @panel_view.c_board.elements[:elements].each do |element| %>
                            <div class="element">

                            <%= element.to_element %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="d-board board">
                <div class="titles ">
                        <div class="title">
                            <%= @panel_view.d_board.title %>
                            <%= @panel_view.d_board.subtitle('This board shows the addition line and deletion line during the development process.
                            <br>It can be useful to identify the efficiency of productivity.<br>
                            When your deletion lines are always higher than addition lines,
                            <br>it can be an indicator that something is difficult with the development process. <br>
                             <b>To see individual progress  , please click production icon in your left hand side.</b>') %>
                        </div>
                </div>
                <div class="tools">
                    <div class="double-slider" data-days="<%=@panel_view.days_count%>" data-first="<%=@panel_view.first_date%>" data-last="<%=@panel_view.last_date%>">
                        <div class="label">
                           <span class="title"> Date: </span> <span id="start"></span> ~ <span id="end"></span>
                        </div>
                        <div id="slider-range">
                        </div>
                    </div>
                    <div class="selector">
                        <div class="label title">Time Unit:</div>
                        <select class="custom-select custom-select-lg mb-3" id="unit_selector">
                            <option value="day">Day</option>
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                        </select>
                    </div>
                </div>
                <div class="elements ">
                    <% @panel_view.d_board.elements.each do |element| %>
                        <div class="element">
                            <%= element.to_element %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
