<div class="ownership page" id="ownership">
    <div class="title-bar">
        <div class="title">
            Ownership
        </div>
    </div>
    <div class="panel">
        <div class="top ">
            <div class="left ">
                <div class="a-board board">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.a_board.title %>
                        </div>
                        <div class="subtitle">
                            <%= @panel_view.a_board.subtitle %>
                        </div>
                    </div>
                    <div class="elements ">
                        <% @panel_view.a_board.elements.each do |element| %>
                            <div class="bar-title"> <%= element.title %> </div>
                            <%= element.to_element %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="right ">
                <div class="b-board board">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.b_board.title %>
                        </div>
                    </div>
                    <div class="tools ">
                        <button class="btn btn-dark" id="pre"><</button>
                    </div>
                    <div class="elements ">
                        <% @panel_view.b_board.elements.each do |element| %>
                            <div class="element">
                                <%= element.to_element %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom ">
            <div class="c-board board">
                <div class="titles ">
                    <span class="title">
                        <%= @panel_view.c_board.title %>
                    </span>
                </div>
                <div class="tools ">
                    <div class="selector">
                        <select class="custom-select custom-select-lg mb-3" id="ownership_selector">
                            <option value="total">Total</option>
                            <% @panel_view.contributors.each do |c| %>
                            <option value="<%=c.email_id%>"> <%= c.email_id %> </option>
                            <% end %>
                        </select>
                    </div>
                </div>
                <div class="elements ">
                    <% @panel_view.c_board.elements.each do |element| %>
                        <div class="element">
                        <%= element.to_element %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
