<div class="ownership page" id="ownership">
    <div class="title-bar">
        <div class="title">
            Ownership
        </div>
    </div>
    <div class="panel">
        <div class="top ">
            <div class="left ">
                <div class="a-board board">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.a_board.title %>
                        </div>
                        <div class="subtitle">
                            <%= @panel_view.a_board.subtitle('test', 'test') %>
                        </div>
                    </div>
                    <div class="elements my-custom-scrollbar">
                        <div class="element">
                            <%= @panel_view.a_board.elements[0].to_element %>
                        </div>
                        <% @panel_view.a_board.elements[1..-1].each do |element| %>
                            <div class="element table">
                                <%= element.to_element %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="right ">
                <div class="b-board board">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.b_board.title %>
                        </div>
                        <div class="subtitle">
                            <%= @panel_view.b_board.subtitle('test', 'test') %>
                        </div>
                    </div>
                    <div class="tools ">
                        <button class="btn btn-dark" id="pre"><</button>
                    </div>
                    <div class="elements ">
                        <% @panel_view.b_board.elements.each do |element| %>
                            <div class="element">
                                <%= element.to_element %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom ">
            <div class="c-board board">
                <div class="titles ">
                    <div class="title">
                        <%= @panel_view.c_board.title %>
                    </div>
                    <div class="subtitle">
                        <%= @panel_view.c_board.subtitle('test', 'test') %>
                    </div>
                </div>
                <div class="elements ">
                    <% @panel_view.c_board.elements.each do |element| %>
                        <div class="element my-custom-scrollbar">
                        <%= element.to_element %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
