<div class="productivity page" id="productivity">
    <div class="title-bar">
        <div class="title">
            Productivity
        </div>
    </div>
    <div class="panel">
        <div class="left">
            <div class="a-board board">
                <div class="titles ">
                    <div class="title">
                        <%= @panel_view.a_board.title %>
                        <%= @panel_view.a_board.subtitle('This board shows individual development progress.
                        <br>You can select a range of time by adjusting the slider and select a time unit by the selector.') %>
                    </div>
                </div>
                <div class="tools">
                    <div class="double-slider" data-days="<%=@panel_view.days_count%>" data-first="<%=@panel_view.first_date%>" data-last="<%=@panel_view.last_date%>">
                        <div class="label">
                           <span class="title"> Date: </span> <span id="start"></span> ~ <span id="end"></span>
                        </div>
                        <div id="slider-range">
                        </div>
                    </div>
                    <div class="selector">
                        <div class="label title">Time Unit: </div>
                        <select class="custom-select custom-select-lg mb-3" id="unit_selector">
                        <option value="day">Day</option>
                        <option value="week">Week</option>
                        <option value="month">Month</option>
                        </select>
                    </div>
                </div>
                <div class="elements my-custom-scrollbar">
                    <% @panel_view.a_board.elements.each do |element| %>
                    <div class="element">
                    <%= element.to_element %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div class="b-board board">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.b_board.title %>
                            <%= @panel_view.b_board.subtitle('In contribution assessment, the LineCredit will remove the meaningless line, such as blank, end.') %>
                        </div>
                    </div>
                    <div class="elements my-custom-scrollbar">
                    <div class="element">
                        <%= @panel_view.b_board.elements[0].to_element %>
                    </div>
                    <div class="element tables">
                        <%= @panel_view.b_board.elements[1].to_element %>
                    </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="c-board board">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.c_board.title %>
                        </div>
                    </div>
                    <div class="elements ">
                    <% @panel_view.c_board.elements.each do |element| %>
                        <div class="element">
                        <%= element.to_element %>
                        </div>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
