<div class="quality page" id="quality">
    <div class="title-bar">
        <div class="title">
            Quality
        </div>
        <ul class="nav nav-tabs tabs">
            <li class="nav-item">
                <a class="nav-link active switch" id='page1' href="#">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link switch" id='page2' href="#">Files Drill Down</a>
            </li>
        </ul>
    </div>
    <div class="panel">
        <div class="top ">
            <div class="left">
                <div class="a-board board ">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.a_board.title %>
                            <%= @panel_view.a_board.subtitle('test', 'test') %>
                        </div>
                    </div>
                    <div class="elements ">
                    <div class="element">
                        <%= @panel_view.a_board.elements[0].to_element %>
                    </div>
                    <div class="element my-custom-scrollbar tables">
                        <%= @panel_view.a_board.elements[1].to_element %>
                    </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="b-board board ">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.b_board.title %>
                            <%= @panel_view.b_board.subtitle('test', 'test') %>
                        </div>
                    </div>
                    <div class="elements ">
                        <% @panel_view.b_board.elements.each do |element| %>
                            <div class="element">
                                <%= element.to_element %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom ">
            <div class="c-board board ">
                <div class="titles ">
                        <div class="title">
                            <%= @panel_view.c_board.title %>
                            <%= @panel_view.c_board.subtitle('test', 'test') %>
                        </div>
                </div>
                <div class="elements ">
                    <% @panel_view.c_board.elements.each do |element| %>
                        <div class="element">
                            <%= element.to_element %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="panel_2">
        <div class="d-board board">
            <div class="titles ">
                <div class="title">
                    <%= @panel_view.d_board.title %>
                    <%= @panel_view.d_board.subtitle('test', 'test') %>
                </div>
            </div>
            <div class="tools">
                <div class="selector">
                    <div class="title">
                        Problem Type
                    </div>
                    <select class="custom-select" id="type">
                        <option value="complexity_method">
                            the highest complex method
                        </option>
                        <option value="offenses">
                            code style offenses count
                        </option>
                        <option value="documentation">
                            with/without documentation
                        </option>
                        <option value="low_coverage">
                            test coverage
                        </option>
                    </select>
                </div>
                <div class="selector">
                    <div class="title">
                        Contributors
                    </div>
                    <select class="custom-select" id="contributor">
                    <option value="total">Total</option>
                    <% @panel_view.contributors.each do |c| %>
                    <option value="<%=c.email_id%>"><%= c.email_id %></option>
                    <% end %>
                    </select>
                </div>
            </div>
            <div class="elements">
                <div class="elements">
                    <% @panel_view.d_board.elements.each do |element| %>
                        <%= element.to_element %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
