<div class="quality page" id="quality">
    <div class="title-bar">
        <div class="title">
            Quality
        </div>
        <ul class="nav nav-tabs tabs">
            <li class="nav-item">
                <a class="nav-link active switch" id='page1' href="#">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link switch" id='page2' href="#">Files Drill Down</a>
            </li>
        </ul>
    </div>
    <div class="panel">
        <div class="top ">
            <div class="left">
                <div class="a-board board ">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.a_board.title %>
                            <%= @panel_view.a_board.subtitle('This board separates the quality problems from each team member. <br>
                            You can see the location of these problems in <b>files dill down</b> panel.') %>
                        </div>
                    </div>
                    <div class="elements ">
                    <div class="element">
                        <%= @panel_view.a_board.elements[0].to_element %>
                    </div>
                    <div class="element my-custom-scrollbar tables">
                        <%= @panel_view.a_board.elements[1].to_element %>
                    </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="b-board board ">
                    <div class="titles ">
                        <div class="title">
                            <%= @panel_view.b_board.title %>
                            <%= @panel_view.b_board.subtitle('When we review the file churn, we can understand whether the file is refactored or not during the development.
                            <br>However, the file churn cannot be useful value for comparing across files.'\
                            '<br>We combine the complexity and file churn together.
                            When a file has high churn and high complexity, it should be a risky file with many issues.') %>
                        </div>
                    </div>
                    <div class="elements ">
                        <% @panel_view.b_board.elements.each do |element| %>
                            <div class="element">
                                <%= element.to_element %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom ">
            <div class="c-board board ">
                <div class="titles ">
                        <div class="title">
                            <%= @panel_view.c_board.title %>
                            <%= @panel_view.c_board.subtitle('') %>
                        </div>
                </div>
                <div class="elements ">
                    <% @panel_view.c_board.elements.each do |element| %>
                        <div class="element">
                            <%= element.to_element %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="panel_2">
        <div class="d-board board">
            <div class="titles ">
                <div class="title">
                    <%= @panel_view.d_board.title %>
                    <%= @panel_view.d_board.subtitle('') %>
                </div>
            </div>
            <div class="tools">
                <div class="selector">
                    <div class="title">
                        Problem Type
                    </div>
                    <select class="custom-select" id="type">
                        <option value="complexity_method">
                            The complexity of the highest complex method
                        </option>
                        <option value="offenses">
                            Code style offenses count
                        </option>
                        <option value="documentation">
                            With/without documentation
                        </option>
                        <option value="low_coverage">
                            Test coverage
                        </option>
                    </select>
                </div>
                <div class="selector">
                    <div class="title">
                        Contributors
                    </div>
                    <select class="custom-select" id="contributor">
                    <option value="total">Total</option>
                    <% @panel_view.contributors.each do |c| %>
                    <option value="<%=c.email_id%>"><%= c.email_id %></option>
                    <% end %>
                    </select>
                </div>
            </div>
            <div class="elements">
                <div class="elements">
                    <% @panel_view.d_board.elements.each do |element| %>
                        <%= element.to_element %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
