<% if @processing.in_progress? %>
    <%= partial('shares/progress_bar')  %>
<% else %>
<div class="dashboard">
    <div class="top-bar ">
        <div class="logo">
            <a href="/">
                <img id="logo2" src="https://i.imgur.com/9GxDAQv.png" alt="">
                <span>CodePraise</span>
            </a>
        </div>
        <div class="project_name">
            <span>
                <%= "#{@panel_view.project_owner} / #{@panel_view.project_name}" %>
            </span>
        </div>
        <div class="tools">
            <div class="message">
                <div class="date">
                    Updated at <%= @panel_view.updated_at %>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" id="update">Update</a>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="side-bar ">
            <a class="category" id='overview_page' href="<%="#{@panel_view.project_url}?category=overview"%>">
                <div class="icon">
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <div class="text">
                    Overview
                </div>
            </a>
            <a class="category" id='files_page' href="<%="#{@panel_view.project_url}?category=files"%>">
                <div class="icon">
                    <i class="fas fa-file-code"></i>
                </div>
                <div class="text">
                    Folders / Files
                </div>
            </a>
            <div class="separate">
            </div>
            <a class="category" id='quality_page'  href="<%="#{@panel_view.project_url}?category=quality"%>">
                <div class="icon">
                    <i class="fas fa-drafting-compass"></i>
                </div>
                <div class="text">
                    Quality
                </div>
            </a>
            <a class="category" id='functionality_page' href="<%="#{@panel_view.project_url}?category=functionality"%>">
                <div class="icon">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <div class="text">
                    Functionality
                </div>
            </a>
            <a class="category" id='ownership_page' href="<%="#{@panel_view.project_url}?category=ownership"%>">
                <div class="icon">
                    <i class="fas fa-chart-bar"></i>
                </div>
                <div class="text">
                    Ownership
                </div>
            </a>
            <a class="category" id='productivity_page' href="<%="#{@panel_view.project_url}?category=productivity"%>">
                <div class="icon">
                    <i class="fas fa-dumbbell"></i>
                </div>
                <div class="text">
                    Productivity
                </div>
            </a>
        </div>
        <div class="content main" data-owner="<%= @panel_view.project_owner %>" data-project="<%= @panel_view.project_name %>" data-category="<%=@panel_view.page%>" data-contributors='<%=@panel_view.contributor_ids%>'>
            <div class="alert alert-warning alert-dismissible hidden" role="alert">
                <span></span>
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%= partial("shares/#{@panel_view.page}") %>
        </div>
    </div>
</div>
<% end %>