<div class="flash">
    <div class="alert alert-warning alert-dismissible hidden" role="alert">
        <span></span>
        <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="logo">
    <img id="logo1" src="https://i.imgur.com/f8S7PtL.png" >
</div>
<div class="search-bar">
    <input type="text" placeholder='https://github.com/OwnerName/ProjectName'>
    <span class='clickable' id='search-btn'><i class="fas fa-search-plus"></i></a></span>
</div>
<div class='example'><a href="<%=@example%>">example</a></div>
<div class="projects">
    <% @viewable_projects.each do |project| %>
        <div class="card bg-dark" id="<%= project.fullname %>">
            <div class="card-body">
                <a href="<%=project.url%>">
                    <p class="card-title"><%= project.name %></p>
                    <p class="card-subtitle"><%= project.owner_name %></p>
                </a>
            </div>
        </div>
    <% end %>
</div>